
/.gitignore	export-ignore
/.gitattributes	export-ignore

/README.md	export-ignore
/screenshots/	export-ignore

/icons/make.py	export-ignore
/icons/make.php	export-ignore
/icons/README.md	export-ignore
/icons/icon_foreground.xcf	export-ignore
