
/.gitignore	export-ignore
/.gitattributes	export-ignore

/README.mkdn	export-ignore

/icons/README.mkdn	export-ignore
/icons/download.js	export-ignore
/icons/icon_merge.py	export-ignore
/icons/icon_foreground.xcf	export-ignore
